.button{
    padding: 10px 10px;
    border: none;
    background-color: $fourth-color;
    color: $main-color;
    border-radius: var(--g-br);
    transition: 0.2s;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    &:hover{
        filter: brightness(0.8);
    }
    &--danger{
        background-color: #FF0032;
        color: $text-color
    }
    &--primary{
        background-color: $color-primary;
        color: $text-color;
    }
    &--full{
        width: 100%;
    }

    &--l{
        padding: 20px;
        font-size: 18px;
    }

    &--action{
        width: 200px;
        display: flex;
        justify-content: center;
    }
}
