$main-color: #191A19;
$second-color: #1E5128;
$third-color: #4E9F3D;
$fourth-color: #D8E9A8;

$text-color: #ededed;

$color-primary: #4E9F3D;

$color-gray-1: #242424;
$color-gray-2: #515151;
$color-gray-3: #8a8a8a;

$width-desktop-l: 1500px;
$width-desktop: 1000px;
$width-tablet: 768px;
$width-mobile-l: 480px;
$width-mobile-s: 360px;

:root{
    --header-height: 100px;
    --footer-height: 100px;
    --content-width: 1400px;
    --g-br: 5px;

    @media screen and (min-width: $width-desktop) and (max-width: $width-desktop-l - 1px) {
        --content-width: 924px;
    }

    @media screen and (min-width: $width-tablet) and (max-width: $width-desktop - 1px){
        --content-width: 718px;
    }

    @media screen and (max-width: $width-tablet - 1px) {
        --content-width: 90%;
    }
}
